doctype html 
html 
  head 
    title Include is quite powerful 
  body 
    h1 CodeTap is awsome 
    p start playing with pug to up your coding skills 
  footer 
    &copy; 2018 - My Awesome website 
